{% extends 'base.html.twig' %}

{% block title %}Hello AssuranceController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/font/CS-Interface/style.css"/>
	<!-- Font Tags End -->
	<!-- Vendor Styles Start -->
	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/vendor/bootstrap.min.css"/> <link rel="stylesheet" href="css/vendor/OverlayScrollbars.min.css"/>

	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/vendor/select2.min.css"/>

	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/vendor/select2-bootstrap4.min.css"/>

	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/vendor/fullcalendar.min.css"/>

	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/vendor/bootstrap-datepicker3.standalone.min.css"/>

	<!-- Vendor Styles End -->
	<!-- Template Base Styles Start -->
	<link
	rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/styles.css"/> <!-- Template Base Styles End -->

	<link rel="stylesheet" href="public/Html/acorn-html-classic-dashboard/src/css/main.css"/>
	<script src="public/Html/acorn-html-classic-dashboard/src/js/base/loader.js"></script>

	<div class="example-wrapper">
		<form class="form" method="POST" action="{{ path('assurance_create') }}" enctype="multipart/form-data">
			<div>
				<label for="numero">Numero:</label>
				<input type="text" id="numero" name="numero" class="form-control form-control-solid" placeholder="Numero"/>
			</div>
			<br>

			<div>
				<label for="type">Type:</label>
				<input type="text" id="type" name="type" class="form-control form-control-solid" placeholder="Type"/>
			</div>
			<br>

			<div>
				<label for="agence">Agence:</label>
				<input type="text" id="agence" name="agence" class="form-control form-control-solid" placeholder="Agence"/>
			</div>
			<br>

			<div>
				<label for="date">Date:</label>
				<input type="date" id="date" name="date" class="form-control form-control-solid" placeholder="Date"/>
			</div>
			<br>

			<div>
				<label for="archive">Archive:</label>
				<input type="file" id="archive" name="archive" class="form-control form-control-solid" placeholder="Archive"/>
			</div>
			<br>

			<button type="submit" class="btn btn-secondary btn-active-light w-200">
				<span class="indicator-label">Ajouter</span>
			</button>
		</form>
	</div>
{% endblock %}
