{% extends 'base.html.twig' %}

{% block title %}Hello DepartementController!
{% endblock %}

{% block body %}
	<form class="form" method="POST" action="{{ path('carburant_create') }}" enctype="multipart/form-data">
		<div>
			<label for="montantAlloue">Nom:</label>
			<input type="text" id="montantAlloue" name="montantAlloue" class="form-control form-control-solid" placeholder="Montant Alloué"/>
		</div>
		<br>

		<div>
			<label for="archive">Archive:</label>
			<input type="file" id="archive" name="archive" class="form-control form-control-solid" placeholder="Archive"/>
		</div>
		<br>

		<button type="submit" class="btn btn-secondary btn-active-light w-200">
			<span class="indicator-label">Ajouter</span>
		</button>
	</form>
{% endblock %}
