{% extends 'base.html.twig' %}

{% block title %}Hello CarburantController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<form class="form" method="POST" action="{{ path('carburant_create') }}" enctype="multipart/form-data">
		<div>
			<label for="montantAlloue">Numero de serie:</label>
			<input type="text" id="montantAlloue" name="montantAlloue" class="form-control form-control-solid" placeholder="Montant Alloué"/>
		</div>
		<br>

		<div>
			<label for="depense">Valeur:</label>
			<input type="text" id="depense" name="depense" class="form-control form-control-solid" placeholder="Dépense"/>
		</div>
		<br>

		<div>
			<label for="depense">Mot de passe:</label>
			<input type="text" id="depense" name="depense" class="form-control form-control-solid" placeholder="Dépense"/>
		</div>
		<br>

		<div>
			<label for="archive">Archive:</label>
			<input type="file" id="archive" name="archive" class="form-control form-control-solid" placeholder="Archive"/>
		</div>
		<br>

		<button type="submit" class="btn btn-secondary btn-active-light w-200">
			<span class="indicator-label">Ajouter</span>
		</button>
	</form>
{% endblock %}
